body{
    background: #0f172a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container{
    width: 320px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}